/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

/* tabella */

.header-table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.body-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cell-table {
    width: calc((100% - 40px) / 3);
    padding: 5px;
}


/* navlink */

.navlink {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}


/* lista task */

.task-list-title {
    margin: 20px 0;
}

/* add-tasks */

.form-style {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    gap: 15px;
}

.select-style {
    width: 100px;
    padding: 5px;
}

.padding {
    padding: 10px;
}

.btn-submit {
    padding: 5px;
    width: 100px;
}